#EXAMPLE ENV FILE WITH DUMMY VALUES, well... for example
DB_URL="postgres://POSTGRES_USER:PASSWORD@localhost:DATABASE_PORT/DATABASE_NAME?sslmode=disable" #your DB URL str to init sqlmodel engine
DEBUG="False" #debug mode for sqlmodel engine (shows executed sql queries)
