#EXAMPLE ENV FILE WITH DUMMY VALUES, well... for example
DB_URL="postgresql://POSTGRES_USER:PASSWORD@localhost:DATABASE_PORT/DATABASE_NAME?sslmode=disable" #your DB URL str to init sqlmodel engine or the supabase ipv4 one
DEBUG="False" #debug mode for sqlmodel engine (shows executed sql queries)
MODEL_NAME="ollama3.1:8b"
BASE_URL='http://localhost:11434/v1' #definitely needed
GROQ_API_KEY="YOUR KEY HERE" # cause using grok

